<div class="flex justify-center items-center h-screen">
  <h1 class="text-4xl text-purple-500 font-bold">Our first app</h1>
  <div class="flex justify-center items-center h-screen">
    <h1 class="text-4xl text-purple-500 font-bold">Our first app</h1>
    <div class="flex justify-center items-center h-screen">
      <h1 class="text-4xl text-purple-500 font-bold">Our first app</h1>
      <div class="flex justify-center items-center h-screen">
        <h1 class="text-4xl text-purple-500 font-bold">Our first app</h1>
        <div class="flex justify-center items-center h-screen">
          <h1 class="text-4xl text-purple-500 font-bold">Our first app</h1>
          <div class="flex justify-center items-center h-screen">
            <h1 class="text-4xl text-purple-500 font-bold">Our first app</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
