<div>
  <mat-card>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input
          matInput
          ngModel
          name="title"
          placeholder="Title"
          required
          #title="ngModel"
        />
        <mat-error *ngIf="title.invalid"
          >Please entered a post title.</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          ngModel
          name="content"
          rows="3"
          placeholder="Write Something here..."
          required
          #content="ngModel"
        ></textarea>
        <mat-error *ngIf="content.invalid"
          >Please entered a post content.</mat-error
        >
      </mat-form-field>
      <button mat-button color="accent" type="submit">Save Post</button>
    </form>
  </mat-card>
</div>
