<div>
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput formControlName="title" placeholder="Title" />
        <mat-error *ngIf="form.get('title')?.invalid"
          >Please entered a post title.</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          formControlName="content"
          rows="3"
          placeholder="Write Something here..."
        ></textarea>
        <mat-error *ngIf="form.get('content')?.invalid"
          >Please entered a post content.</mat-error
        >
      </mat-form-field>
      <button
        mat-button
        color="accent"
        type="button"
        (click)="filePicker.click()"
      >
        Image Picker
      </button>
      <div
        class="image-preview"
        *ngIf="imagePreview && imagePreview !== '' && form.get('image')?.valid"
      >
        <img [src]="imagePreview" [alt]="form.value.title" />
      </div>
      <button mat-button color="accent" type="submit">Save Post</button>
      <input
        type="file"
        name="file-picker"
        #filePicker
        (change)="handleChange($event)"
        style="visibility: hidden"
      />
    </form>
  </mat-card>
</div>
